# MacOS Trash
.DS_Store

# dependencies
node_modules/

# Python wheel files
*.whl

# Python virtual environment
.venv/
venv/
.venv-1/
application-env/

# Python cache
__pycache__/
*.pyc
*.db

# env / secrets
.env

# SQLite databases and migration cache
instance/

# User uploads files in static folder
app/static/uploads/