.DS_Store
node_modules/


application-env/
venv/
.venv/


__pycache__/
*.pyc


.env


app.db


.DS_Store

# dependencies
node_modules/

# Python virtual environment
.venv/
venv/
application-env/

# Python cache
__pycache__/
*.pyc

# env / secrets
.env
