<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Travel Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in-up.css') }}">
</head>

<body>
    <div class="page">
        <h1 class="site-title">Travel Blog</h1>
        <section class="signup-card">
            <h2>Sign Up</h2>
            <form method="POST" action="{{ url_for('main.signup') }}">
                <input type="text" placeholder="Choose a username" name="username" required>
                <input type="password" id="password" placeholder="Create a password" name="password" required>
                <input type="password" id="confirm-password" placeholder="Confirm your password" name="confirm-password"
                    required>
                <button type="submit" class="submit">SIGN UP</button>
            </form>

            <p class="switch-to-sign-in">
                Already have an account? <a href="{{ url_for('main.signin') }}">Sign in</a>
            </p>
        </section>
    </div>

    <script src="{{ url_for('static', filename='js/sign-up.js') }}"></script>
</body>

</html>
